In [3]:
import pandas as pd

In [4]:
series=pd.Series(["BMS","Toyota","Honda"])

In [5]:
series

0       BMS
1    Toyota
2     Honda
dtype: object

In [6]:
# series =1-dimensional

In [7]:
car_data = pd.DataFrame({"Car type": cars, 
                         "Colour": colours})

NameError: name 'cars' is not defined

In [8]:
car_data

NameError: name 'car_data' is not defined

In [9]:
colours = pd.Series(["Blue", "Red", "White"])
colours

0     Blue
1      Red
2    White
dtype: object

In [10]:
car_data = pd.DataFrame({"Car type": series, 
                         "Colour": colours})
car_data

  Car type Colour
0      BMS   Blue
1   Toyota    Red
2    Honda  White